body {
    font-family: Arial, sans-serif;
    background-color: #181A1F;
    color: #fff;
    margin: 0;
    padding: 0;
}



.form-container {
    max-width: 420px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 704px;
    margin: 80px auto 50px auto;
}

.form-group {
    margin-bottom: 1rem;
}
.form-group-line {
    margin-bottom: 28px;
    display: inline-block;
    vertical-align:middle;
    float: left;
}

#margin{
    margin-left: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
}
.form-group-line label {
    display: block;
    margin-bottom: 12px;
}





.form-group-line input[type="date"]{
    height: 21px;
    outline: none;
}

.form-group-line input[type="text"],
.form-group-line input[type="date"] {
    width: 174px;
    padding: 12px 12px;
    border: 1px solid #1E2329;
    border-radius: 4px;
    background-color: #1E2329;
    color: #cacaca;
    font-size: 18px;
    outline: none;
}



.form-group input[type="email"],
.form-group input[type="password"]
{
    width: 388px;
    padding: 12px 12px;
    border: 1px solid #1E2329;
    border-radius: 4px;
    background-color: #1E2329;
    color: #cacaca;
    font-size: 18px;
    outline: none;
}

.form-group input[type="checkbox"] {
    outline: none;
    width: 20px;
    height: 20px;
}

.form-group .cbx_content{
    font-size: 16px;
}

.form-group a {
    color: #02EFC4;
    text-decoration: none;
    text-decoration: underline;
}

input[type="submit"] {
    width: 420px;
    padding: 18px 0px 18px 0px;
    border: none;
    border-radius: 12px;
    background-color: #02EFC4;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.form-group-inline {
    display: flex;
    align-items: baseline;
}

.form-group-inline input[type="checkbox"] {
    margin-right: 8px;
}



::placeholder{
    color: #cacaca31;
}