html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 100%; 
    overflow-x: hidden; 
}

.fixed-width-element {
    max-width: 100%;
}


body {
    padding: 0;
    margin: 0;
    background-color: rgb(26, 32, 37);
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.cryptoCanva {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.crypto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 5%; 
    margin-right: 5%; 
    padding-right: 30px;
    box-sizing: border-box;
    flex-grow: 1;
}

.crypto-box {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 35px;
    padding: 20px;
    min-width: 30%;
    height: 150px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: background-color 0.6s, transform 0.6s;
}

.crypto-box:hover {
    background-color: rgba(9, 175, 143, 1);
    transform: scale(1.03);
    color: white;
}

.crypto-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #222);
}

.crypto-box .crypto-info {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.crypto-box .crypto-name {
    font-size: 2em;
    margin-left: 30px;
    font-weight: bold;
}

.crypto-box .crypto-price {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25%;
    color: rgba(99, 103, 107, 1);
    width: 100%;
}

.exchange-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 35px;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.exchange-box {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.exchange-box input {
    background-color: rgba(36, 43, 53, 1);
    padding: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.exchange-box button {
    width: 80%;
    padding: 10px;
    background-color: #09af8f;
    border: none;
    border-radius: 35px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;
}

.exchange-box button:hover {
    background-color: #078f72;
    transition: 0.5s;
}

.canvaChoose {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 35px;
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s, transform 0.6s;
    grid-column: span 3;
}

.canvaChoose canvas {
    width: 100% !important; 
    height: 100%; 
    padding: 50px;
}






.second {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 40px 0px 40px 0px;
}

.section {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.crypto-table {
    width: 100%;
    border-collapse: collapse;
}

.crypto-table th, .crypto-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.crypto-table th {
    background-color: #333;
}

.crypto-table tbody tr:nth-child(even) {
    background-color: #3a3a3a;
}
.transactions-table th, .transactions-table td {
    padding: 10px;
    width: 20%; 
}

.crypto-table tbody tr:hover {
    background-color: #555;
}

.sectionTrans{
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.transactionsTable{
    width: 100%;
    border-collapse: collapse;
}
.transactionsTable th, .transactionsTable td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}




.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden; 
}

.sidebar {
    width: 200px;
    background-color: rgba(32, 39, 49, 1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 35px;
    margin: 20px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar a {
    color: #b5b5b5;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;

}

.sidebar img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    filter: invert(100%);
}

.link-group {
    display: flex;
    flex-direction: column;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.sidebar a img {
    filter: invert(100%);
}

.sidebar a:hover {
opacity: 50%;
transition: 0.5s;
}


.table-row {
    display: flex;
    justify-content: space-between;
}

.table-container {
    flex: 1;
    margin: 10px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.main h1 {
    margin-bottom: 20px;
}

.main .section h2 {
    margin-top: 0;
}

.crypto-table {
    width: 100%;
    border-collapse: collapse;
}

.crypto-table th, .crypto-table td {
    padding: 10px;
    text-align: left;
    background-color: rgba(32, 39, 49, 1);
    border-bottom: none;
}

.crypto-table th {
    background-color: rgba(32, 39, 49, 1);
}


.crypto-table img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.up {
    background-color: green;
    color: white;
}

.down {
    background-color: red;
    color: white;
}

.btcChart {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .btcChart {
        max-width: 1200px;
        height: auto;
    }
}