html, body {
    width: 100%;
    max-width: 100vw; /* Impedisce al body di superare la larghezza del viewport */
    overflow-x: hidden; /* Nasconde il contenuto che fuoriesce orizzontalmente */
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box; /* Include padding e border nel calcolo della larghezza dell'elemento */
}

/* Gestisci elementi con larghezza fissa o min-width che potrebbe causare overflow */
.container {
    max-width: 100%; /* Assicurati che i container non superino la larghezza della pagina */
    overflow-x: hidden; /* Opzionale: nasconde l'overflow orizzontale dentro il container */
}

.fixed-width-element {
    max-width: 100%; /* Limita elementi con larghezza fissa al 100% del viewport */
}


body {
    padding: 0;
    margin: 0;
    background-color: rgb(26, 32, 37);
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.cryptoCanva {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.crypto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0;
    padding-right: 30px;
    box-sizing: border-box;
    flex-grow: 1;
}

.crypto-box {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 35px;
    padding: 20px;
    min-width: 360px;
    height: 150px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: background-color 0.6s, transform 0.6s;
}

.crypto-box:hover {
    background-color: rgba(9, 175, 143, 1);
    transform: scale(1.03);
}

.crypto-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #222);
}

.crypto-box .crypto-info {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.crypto-box .crypto-name {
    font-size: 2em;
    margin-left: 30px;
    font-weight: bold;
}

.crypto-box .crypto-price {
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    color: rgba(99, 103, 107, 1);
}

.exchange-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: rgba(32, 39, 49, 1); */
    border-radius: 35px;
    /* box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2); */
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.exchange-box {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.exchange-box input {
    background-color: rgba(36, 43, 53, 1);
    padding: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.exchange-box button {
    width: 80%;
    padding: 10px;
    background-color: #09af8f;
    border: none;
    border-radius: 35px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;
}

.exchange-box button:hover {
    background-color: #078f72;
    transition: 0.5s;
}

.canvaChoose {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 35px;
    margin: 30px 0px 30px 0px;
    width: 98%;
    height: 100%;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s, transform 0.6s;
    grid-column: span 3;
}

.canvaChoose canvas {
    width: 100% !important; /* Forza il canvas a occupare tutta la larghezza del div */
    height: 100%; /* Mantiene l'aspetto proporzionale */
    padding: 50px;
}


/* .canvaChoose:hover {
    background-color: rgba(9, 175, 143, 1);
    transform: scale(1.03);
} */


.second {
    display: flex; /* Usa Flexbox per disporre i figli orizzontalmente */
    align-items: flex-start; /* Allinea gli elementi all'inizio verticale */
    gap: 20px; /* Aggiunge spazio tra i figli */
}

.section {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.section-buysell {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    height: 85%;
}

.section-balance {
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    height: 85%;
}


.trade-table {
    width: 100%;
    border-collapse: collapse;
}

.trade-table th, .trade-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.trade-table th {
    background-color: #333;
}

.trade-table tbody tr:nth-child(even) {
    background-color: #3a3a3a;
}

.trade-table tbody tr:hover {
    background-color: #555;
}

/* ------------------- */
.sectionTrans{
    background-color: rgba(32, 39, 49, 1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.transactionsTable{
    width: 100%;
    border-collapse: collapse;
}
.transactionsTable th, .transactionsTable td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}




.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: rgba(32, 39, 49, 1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 35px;
    margin: 20px;
    box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar a {
    color: #b5b5b5;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;

}

.sidebar img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    filter: invert(100%);
}

.link-group {
    display: flex;
    flex-direction: column;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.sidebar a img {
    filter: invert(100%); /* Ensures icons are visible on the dark background */
}

.sidebar a:hover {
opacity: 50%;
transition: 0.5s;
}


.table-row {
    display: flex;
    justify-content: space-between;
}

.table-container {
    flex: 1;
    margin: 10px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.main h1 {
    margin-bottom: 20px;
}

.main .section h2 {
    margin-top: 0;
}

.trade-table {
    width: 100%;
    border-collapse: collapse;
}

.trade-table th, .trade-table td {
    padding: 10px;
    text-align: left;
    background-color: rgba(32, 39, 49, 1);
    border-bottom: none;
}

.trade-table th {
    background-color: rgba(32, 39, 49, 1);
}


.trade-table img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.up {
    background-color: green;
    color: white;
}

.down {
    background-color: red;
    color: white;
}
